.map {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.canvas {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
