/* Sidebar container */
.sidebar {
  width: 250px;
  background: #1e1e1e;
  color: white;
  padding: 20px;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 2px solid #444;
}

/* Logo styling */
.sidebarHeader {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.orcaLogo {
  width: 200px;
  height: auto;
}

/* Robot list */
.robotList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.robotItem {
  padding: 15px;
  background: #2a2a2a;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background 0.3s ease;
  font-size: 20px;

  display: flex;
  align-items: center;
}

.robotItem:hover {
  background: #3a3a3a;
}

.robotIcon {
  font-size: 24px;
  margin-right: 10px;
}

/* Bottom buttons */
.sidebarFooter {
  margin-top: auto;
  padding: 20px;
}

.sidebarBtn {
  width: 100%;
  background: #444;
  color: white;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  transition: background 0.3s ease;
  border: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebarBtn:hover {
  background: #555;
}

.logout {
  background: #dc3545;
}

.logout:hover {
  background: #a71d2a;
}

/* Split Button Container */
.splitButton {
  margin-top: 10px;
  border: 2px solid #000000;
  border-radius: 8px;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* Left (Add) Button */
.addHalf {
  flex: 1;
  background: #007bff;
  color: white;
  padding: 15px;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
  font-size: 15px;
}

.addHalf:hover {
  background: #0056b3;
}

/* Divider (Slash) */
.divider {
  background: #000000;
  color: black;
  padding: 1px;
  font-size: 18px;
  font-weight: bold;
}

/* Right (Remove) Button */
.removeHalf {
  flex: 1;
  background: #dc3545;
  color: white;
  padding: 15px;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
  font-size: 15px;
}

.removeHalf:hover {
  background: #a71d2a;
}

/* Disable Remove Button if no robots exist */
.removeHalf:disabled {
  background: #444;
  cursor: not-allowed;
}

/* Command Input Field Styles */
.commandContainer {
  margin: 15px 0;

  display: flex;
  align-items: center;
}

.commandInput {
  flex: 1;
  padding: 10px;
  border-radius: 4px 0 0 4px;
  border: none;
  outline: none;
  font-size: 12px;
}

.commandBtn {
  padding: 10px 15px;
  border: none;
  border-radius: 0 4px 4px 0;
  background-color: #007bff;
  color: white;
  font-size: 12px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.commandBtn:hover {
  background-color: #0056b3;
}